@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 199 89% 48%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scroll-message {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 transparent; /* Para Firefox */
  }
  
  .scroll-message::-webkit-scrollbar {
    width: 6px;
  }
  
  .scroll-message::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scroll-message::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 6px;
    min-height: 20px; /* reduce la altura del thumb */
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .scroll-message:hover::-webkit-scrollbar-thumb {
    opacity: 1; /* aparece al hacer hover */
  }
  
}
